export(aes3)
export(alpha_combined_fade)
export(alpha_density_fade)
export(alpha_edge_fade)
export(ggplot3)
export(geom_point3d)
export(geom_surface_grid3d)
export(coord_3d)
export(coord_umap3d)
export(element_light_3d)
export(element_material_3d)
export(grid2d)
export(grid_3d)
export(scene3d_table)
export(theme_3d)
export(theme_3d_scientific)
export(theme_3d_umap)
export(as_scene3d)
export(write_scene_json)
export(export_html)
export(demo_scene3d)
S3method("+", ggplot3scene_plot)
